@{
    ViewData["Title"] = "Quản Lý Hàng Hoá";
    Layout = "~/Views/Shared/DoXuanKienLayout.cshtml";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
@model HangHoa
<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Create Category</h2>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="MaLoai" class=" p-0"></label>
            <select asp-for="MaLoai" asp-items="@ViewBag.MaLoai"></select>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="TenHang" class="p-0"></label>
            <input asp-for="TenHang" class="form-control" />
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Gia" class="p-0"></label>
            <input asp-for="Gia" class="form-control" />
            <span asp-validation-for="Gia" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Anh" class="p-0"></label>
            <input asp-for="Anh" class="form-control" />
            <span asp-validation-for="Anh" class="text-danger"></span>
        </div>

        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary form-control">Create</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="BaiThi" asp-action="Index" class="btn btn-outline-secondary form-control">
                    Back to list
                </a>
            </div>
        </div>
    </div>
</form>